body {
  font-family: Arial;
  background: #ddd;
  display: flex;
  justify-content: center;
}

.form {
  width: 90%;
  max-width: 400px;
  background: #f4f4f4;
  padding: 20px;
  border-radius: 20px;
  margin-top: 20px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 15px;
  background: #0d5c3b;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-sizing: border-box;
}

.foto-opcoes {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.btn-foto {
  flex: 1;
  padding: 10px;
  background: #2ea36a;
  border-radius: 10px;
  font-size: 13px;
}

#video {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 8px;
}

.btn-capturar {
  background: #1c8f4d;
  margin-bottom: 8px;
}

.btn-cancelar-cam {
  background: #888;
}